
	<!doctype html>
	<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Untree.co">
	<link rel="shortcut icon" href="{{asset('images/LOGO.png')}}">

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap4" />

			<!-- Bootstrap CSS -->
			{% block css%}
			<link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
			<link href="{{asset('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')}}" rel="stylesheet">
			<link href="{{asset('css/tiny-slider.css')}}" rel="stylesheet">
			<link href="{{asset('css/style.css')}}" rel="stylesheet">
			{% endblock %} 
			<title>Voltride</title>
			
		</head>

		<body>

			<!-- Start Header/Navigation -->
			<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

				<div class="container">
					<img src="{{asset('images/LOGO.png')}}" alt="Logo Voltride" class="logo">
					<a class="navbar-brand" href="index.html">Voltride<span>.</span></a>

					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarsFurni">
						<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
							<li class="nav-item active">
								<a class="nav-link" href="index.html">Home</a>
							</li>
							<li><a class="nav-link" href="">Reserver Voiture</a></li>
							<li><a class="nav-link" href="">Reserver Borne</a></li>
							<li><a class="nav-link" href="">Reserver Evenement</a></li>
							<li><a class="nav-link" href="{{ path('app_service_apreslocation_list') }}">Service après vente</a></li>
	</ul>

						<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
							<li><a class="nav-link" href="#"><img src="{{asset('images/user.svg')}}"></a></li>
						</ul>
					</div>
				</div>
					
			</nav>
		<!-- End Header/Navigation -->
{% block body %}
	

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Explorez l'avenir de la mobilité<span clsas="d-block"> avec nos voitures électriques en location</span></h1>
								<p class="mb-4">"Explorez, réservez et expérimentez - votre source tout-en-un pour les voitures, les événements et les bornes, avec un service après-vente incomparable."</p>
								<p><a href="" class="btn btn-secondary me-2">Shop Now</a><a href="#" class="btn btn-white-outline">Explore</a></p>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap">
								<img src="{{('images/1.png')}}" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->


		<!-- End Product Section -->

		<!-- Start Why Choose Us Section -->
		<div class="why-choose-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-6">
						<h2 class="section-title">Pourquoi Nous Choisir</h2>
						<p>Découvrez pourquoi notre service de location de voitures électriques est votre meilleur choix. Nous nous engageons à fournir une expérience exceptionnelle à nos clients, alliant qualité, fiabilité et innovation.</p>

						<div class="row my-5">
							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{{asset('images/truck.svg')}}" alt="Image" class="imf-fluid">
									</div>
									<h3>Fast &amp; Livraison Rapide et Gratuite</h3>
									<p>Profitez d'une livraison rapide et gratuite pour votre voiture électrique réservée. Nous nous efforçons de vous offrir un service efficace et pratique, vous permettant de profiter rapidement de votre nouvelle expérience de conduite.</p>
								</div>
							</div>
 
							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{{asset('images/bag.svg')}}" alt="Image" class="imf-fluid">
									</div>
									<h3>Facilité d'Utilisation</h3>
									<p>Parcourez notre vaste sélection de voitures électriques et réservez facilement celle qui correspond le mieux à vos besoins. Notre processus de réservation simple et intuitif vous permet de trouver et de réserver votre voiture idéale en quelques clics seulement.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{{asset('images/support.svg')}}" alt="Image" class="imf-fluid">
									</div>
									<h3>24/7 Support</h3>
									<p>Notre équipe de support dévouée est disponible 24/7 pour répondre à toutes vos questions et vous fournir une assistance professionnelle à tout moment. Nous sommes là pour vous accompagner à chaque étape de votre expérience de location de voiture électrique.</p>
								</div>
							</div>

							<div class="col-6 col-md-6">
								<div class="feature">
									<div class="icon">
										<img src="{{asset('images/return.svg')}}" alt="Image" class="imf-fluid">
									</div>
									<h3>Retours Sans Tracas</h3>
									<p>Nous garantissons des retours sans tracas pour vous offrir une tranquillité d'esprit totale. Si jamais vous rencontrez le moindre problème avec votre voiture électrique, notre équipe est là pour vous aider à trouver rapidement une solution adaptée à vos besoins.</p>
								</div>
							</div>

						</div>
					</div>

					<div class="col-lg-5">
						<div class="img-wrap">
							<img src="{{asset('images/5.jpg')}}" alt="Image" class="img-fluid">
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Why Choose Us Section -->

		<!-- Start We Help Section -->
		<div class="we-help-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-7 mb-5 mb-lg-0">
						<div class="imgs-grid">
							<div class="grid grid-1"><img src="{{asset('images/3.jpg')}}" alt="Untree.co"></div>
							<div class="grid grid-2"><img src="{{asset('images/2.png')}}" alt="Untree.co"></div>
							<div class="grid grid-3"><img src="{{asset('images/4.jpg')}}" alt="Untree.co"></div>
						</div>
					</div>
					<div class="col-lg-5 ps-lg-5">
						<h2 class="section-title mb-4">Nous sommes là pour vous aider à trouver la meilleure solution.</h2>
						<p>"Nous proposons des services de location de voitures électriques pour les événements et mettons à disposition des bornes de recharge."</p>

						<ul class="list-unstyled custom-list my-4">
							<li>Assistance</li>
							<li>Aide</li>
							<li>Soutien</li>
							<li>Conseil</li>
						</ul>
						<p><a herf="#" class="btn">Explore</a></p>
					</div>
				</div>
			</div>
		</div>
		<!-- End We Help Section -->

		

		

		

		<!-- Start Footer Section -->
		<footer class="footer-section">
			<div class="container relative">

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
							<p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved.<!-- License information: https://untree.co/license/ -->
            </p>
						</div>

						

					</div>
				</div>

			</div>
		</footer>
		<!-- End Footer Section -->	
{% endblock %}
		{% block js %}
		<script src="{{asset('js/bootstrap.bundle.min.js')}}"></script>
		<script src="{{asset('js/tiny-slider.js')}}"></script>
		<script src="{{asset('js/custom.js')}}"></script>
		{% endblock %}
	</body>
	

</html>
