{% extends 'baseF.html.twig' %}

{% block title %}Voiture index{% endblock %}

{% block center %}
    <div class="main-container">

        <div class="white-frame"> <!-- Div avec cadre blanc -->
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for voiture in voitures %}
                    <div class="col">
                        <div class="card h-100">
                            <img src="{{ asset('uploads/' ~ voiture.image) }}" class="card-img-top" alt="Voiture Image">
                            <div class="card-body">
                                <h5 class="card-title">{{ voiture.marque }}</h5>
                                <p class="card-text"><strong>Modèle:</strong> {{ voiture.modele }}</p>
                                <p class="card-text"><strong>État:</strong> {{ voiture.etat }}</p>
                                <p class="card-text"><strong>Prix de location:</strong> {{ voiture.prixLocation }}</p>
                                <p class="card-text"><strong>Kilométrage:</strong> {{ voiture.kilometrage }}</p>
                                <a href="{{ path('app_reservation_voiture_new', {'idV': voiture.idV}) }}" class="btn btn-primary">Réserver</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="no-records">no records found</div>
                {% endfor %}
            </div>
        </div>
        
        <br> <!-- Saut de ligne -->
        <a href="{{ path('app_reservation_voiture_indexi') }}" class="btn btn-success">Afficher les réservations</a>
        
    </div>
{% endblock %}
